.header{
    margin-top: 0;
    padding-top: 0%;
    background-color: rgb(121, 6, 6);
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:300%;
    }
    