.header{
    margin: 5px;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: brown;
    height: 200px;
    width: 1280px;
    text-align: center;
    color: white;
}

.header-texto{
    font-size: 50px;
}
