.footer{
    margin: 5px;
    background-color: brown;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 20px;
    font-style: italic;
}

/* background-color: #686aac;
height: 100px;
display: flex;
justify-content: center;
flex-direction: row;
width: 100%; */