.footer{
    margin: 25px auto 0;
    background-color: brown;
    height: 50px;
    display:grid;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 5px;
}

.footer-texto{
    font-size: 20px;
    font-style: italic;
    color: white;
}

